NODE_ENV=production
PORT=5000
DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/DATABASE"
JWT_SECRET="ganti-dengan-random-minimal-32-karakter"
ADMIN_REGISTER_SECRET="ganti-dengan-random-yang-kuat"
CORS_ORIGINS="https://domain-frontend-kamu.com"
FRONTEND_URL="https://domain-frontend-kamu.com"
JWT_ISSUER="dalpremium-api"
JWT_AUDIENCE="dalpremium-web"
MIDTRANS_IS_PRODUCTION=false
CLOUDINARY_CLOUD_NAME="isi-cloud-name-cloudinary"
CLOUDINARY_API_KEY="isi-api-key-cloudinary"
CLOUDINARY_API_SECRET="isi-api-secret-cloudinary"
